h1{
  /* margin-top: 10rem; */
  font-size: 5rem;
  text-align: center;
  padding: 8rem 0 5rem 0;
  background-image: url('../../assets/background.svg');
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: center;
}

/* .home  h1 {

  padding: 8rem 0 5rem 0;
  background-image: url('../../assets/background.svg');
  background-size: 70rem;
  background-repeat: no-repeat;
  background-position: center;
} */
